/********common********/
body {
  font-family: Roboto;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

p {
  margin-bottom: 0px;
}

footer {
  height: 75px;
  background-color: #2f3132;
  padding-top: 37px;
  padding-bottom: 22px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  color: #c7c8c8;
}

.containerCenter {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.heading {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.tab_heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

/********work********/
.section_work {
  background-color: #e0e1e2;
}

.work_filter {
  background-color: #e0e1e2;
  height: 93px;
}

/*burgerMenu*/
.logo {
  padding-top: 25px;
  padding-bottom: 0px;
  width: 100%;
}

.logo_start img,
.logo_next img {
  width: 130px;
}

.navbar {
  background-color: #e0e1e2;
}

.navbar .navbar-toggler {
  position: absolute;
  top: 25px;
  right: 28px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  color: inherit;
  border-color: inherit;
}

.navbar-toggler {
  background-color: transparent;
  border: transparent;
}

.navbar .container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(image/menu-burger.svg);
  background-size: contain;
}

#navbar-toggler-icon__x {
  width: 30px;
  height: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-collapse {
  background-color: #2f3132;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 32px;
}

.nav-item:first-child {
  margin-top: 148px;
}

.nav-item:last-child {
  margin-bottom: 208px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #c4c4c4;
}

#navbarNav > ul > li:first-child {
  display: none;
}

#navbarNav > ul > li:nth-child(2) {
  margin-top: 148px;
}

.disable {
  display: none !important;
}

.backColor {
  background-color: #2f3132;
  transition: 0.2s;
}

/*/burgerMenu*/
.work_image {
  height: 230px;
  width: 100%;
  background-image: url(image/MX-Master\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.workContainer_text {
  margin: 67px 59px 40px 59px;
}

.work_text {
  text-align: center;
}

.arrow svg {
  height: 20px;
  text-align: center;
  margin-bottom: 48px;
}

/********bluetooth********/

.section_bluetooth {
  background-color: #ededed;
  text-align: center;
  margin-bottom: 18px;
}

.header_bluetooh {
  margin-top: 42px;
  margin-bottom: 27px;
}

.bluetooh_text {
  padding: 20px 33px 31px 33px;
}

.bluetooh_img {
  height: 218px;
  width: 100%;
  background-image: url(image/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bluetooh_70days__desktop {
  display: none;
}

.bluetooh_70days {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #c4c4c4;
}

/********multiple********/
.multiple {
  background-color: #ededed;
  padding-top: 70px;
}

.multiple_img {
  height: 218px;
  width: 100%;
  background-image: url(image/mobile/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.multiple_text {
  margin: 20px 33px 36px 33px;
  text-align: center;
}

.multiple_list {
  width: 100%;
}

.multiple_list__number {
  margin-left: 54px;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.multiple_list__number li {
  padding-bottom: 16px;
  width: 224px;
}

.multiple_list__number li:last-child {
  padding-bottom: 0px;
}

/*comfort*/
.comfortSpeed {
  padding-top: 70px;
  text-align: center;
}

.comfort_text {
  margin: 20px 34px 20px 34px;
}

.comfort_img {
  height: 310px;
  background-image: url(image/image\ 1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.speed_heading {
  margin-top: 70px;
}

.speed_text {
  margin: 20px 33px 20px 33px;
}

.speed_img {
  height: 310px;
  background-image: url(image/image\ 2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/********anything********/

.section_anything {
  padding-top: 70px;
}

.anything_text {
  padding: 20px 67px 30px 67px;
  text-align: center;
}

.anything_content {
  margin-bottom: 27px;
  text-align: center;
  display: flex;
  gap: 6px;
}

.anything_content__item {
  border: 1px solid black;
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide_heading {
  margin-top: 27px;
  margin-bottom: 20px;
}

.slider_text {
  text-align: center;
  margin: 19px 34px 63px 34px;
}
/*Slider_1*/

#carouselExampleIndicators {
  width: 100%;
}

.carousel-indicators {
  bottom: -63px;
  margin-bottom: 0px;
  height: 30px;
  position: static;
}

#carouselExampleIndicators > div.carousel-indicators button {
  text-indent: 0;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: inherit;
  margin-left: 22px;
  border: 0px;
}

#carouselExampleIndicators > div.carousel-indicators button:first-child {
  margin-left: 0px;
}

.carousel-control-prev {
  bottom: inherit;
}

#carouselExampleIndicators > div.carousel-indicators .carousel-control-prev {
  height: inherit;
  position: relative;
}

.carousel-control-prev-icon {
  background-image: url(image/anythingSlider/button/arrow-left.svg);
}

#carouselExampleIndicators > div.carousel-indicators .carousel-control-next {
  height: inherit;
  position: relative;
}

.carousel-control-next-icon {
  background-image: url(image/anythingSlider/button/arrow-right.svg);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 10px;
}

/********settings********/

.settings_all__img {
  display: none;
}
#carouselSettings {
  width: 100%;
  margin-bottom: 60px;
}

.section_settings {
  background-color: #ededed;
  padding-top: 60px;
}

.settings_text {
  margin: 20px 33px 35px 33px;
  text-align: center;
}

#carouselSettings #settings_button button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  margin-left: 15px;
  margin-right: 0px;
  border: none;
}

#carouselSettings img {
  height: 404px;
  object-fit: contain;
}

#carouselSettings #settings_button button.active {
  background-color: #2f3132;
}

.settings_optimisetion {
  padding: 23px 22px 26px 22px;
  text-align: center;
  color: #ffffff;
  background-color: #c4c4c4;
}

.optimisetion_items img {
  height: 22px;
  margin-bottom: 19px;
  margin-left: 22px;
}

.optimisetion_items img:first-child {
  margin-left: 0px;
}

.optimisition_text {
  margin-left: 12px;
  margin-right: 12px;
}

.slider_anything_desktop {
  display: none !important;
}

/**************************/ /*Планшет*******************************/

@media (min-width: 768px) {
  /*work*/
  .logo_start img,
  .logo_next img {
    width: 240px;
  }

  .logo {
    padding-top: 54px;
  }

  .navbar-toggler-icon {
    width: 61px;
  }

  #navbar-toggler-icon__x {
    width: 61px;
    height: 61px;
  }

  .navbar .navbar-toggler {
    top: 54px;
    right: 58px;
  }

  #navbarNav > ul > li:nth-child(2) {
    margin-top: 123px;
  }
  .work_filter {
    height: 159px;
  }

  .work_image {
    height: 514px;
  }

  .workContainer_text {
    margin: 124px 155px 76px 155px;
  }

  .arrow svg {
    height: 29px;
    margin-bottom: 80px;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .heading {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
  }

  .nav-item {
    font-size: 40px;
    line-height: 47px;
  }
  /*bluetooth*/
  .header_bluetooh {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .bluetooh_text {
    padding: 30px 77px 67px 77px;
  }

  .bluetooh_70days {
    font-size: 150px;
    line-height: 176px;
  }

  .bluetooh_img {
    height: 498px;
  }

  .section_bluetooth {
    margin-bottom: 0px;
  }

  /*anything*/
  .anything_text {
    padding: 30px 77px 50px 77px;
  }

  .anything_content {
    margin-bottom: 50px;
    gap: 30px;
  }

  .anything_content__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #carouselExampleIndicators > div.carousel-indicators button {
    margin-left: 30px;
    height: 30px;
  }

  #carouselExampleIndicators img,
  #carouselExampleIndicators div.carousel-indicators button {
    width: 40px;
  }

  #carouselExampleIndicators > div.carousel-indicators button {
    margin-left: 40px;
    height: 40px;
  }

  .slider_text {
    margin: 22px 77px 61px 77px;
  }

  #anything_indicators {
    height: 40px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 12px;
  }

  /*multiple*/
  .multiple_text {
    margin: 30px 65px 70px 65px;
  }

  .multiple_img {
    height: 460px;
    background-image: url(image/tablet/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  }

  .multiple_list__number {
    display: flex;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 20px;
    line-height: 23px;
  }

  .multiple_list__number li {
    padding-bottom: 0px;
    margin-left: 67px;
    border-right: 1px solid black;
  }

  .multiple_list__number li:first-child {
    width: 294px;
    margin-left: 0px;
  }

  .multiple_list__number li:nth-child(2) {
    width: 280px;
    margin-left: 28px;
  }

  .multiple_list__number li:last-child {
    width: 135px;
    margin-left: 22px;
    border-right: none;
  }

  /*setting*/
  .section_settings {
    background-color: #ededed;
    padding-top: 70px;
  }

  .settings_text {
    margin: 30px 65px 54px 65px;
  }

  #carouselSettings img {
    height: 610px;
    object-fit: contain;
  }

  #carouselSettings .carousel-indicators {
    height: 25px;
    margin-top: 53px;
  }

  #carouselSettings #settings_button button {
    width: 25px;
    height: 25px;
    margin-left: 25px;
  }

  #carouselSettings {
    margin-bottom: 70px;
  }

  .optimisetion_items img {
    height: 35px;
  }
  .optimisetion_items img {
    margin-left: 35px;
    margin-bottom: 25px;
  }

  .optimisition_text {
    margin-left: 0px;
    margin-right: 0px;
  }

  .settings_optimisetion {
    width: 765px;
    padding-bottom: 29px;
    margin-bottom: 70px;
  }

  /*comfortSpeed*/
  .comfort_text {
    margin: 30px 69px 50px 69px;
  }

  .comfort_img,
  .speed_img {
    height: 549px;
  }

  .speed_text {
    margin: 30px 65px 50px 65px;
  }

  footer {
    height: 150px;
    font-size: 14px;
    line-height: 16px;
    padding-top: 47px;
    padding-bottom: 71px;
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block;
  }
}

@media (min-width: 1024px) {
  .text {
    font-size: 20px;
    line-height: 23px;
  }

  .heading {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
  }
  .workContainer_text {
    margin: 8px 155px 49px 155px;
  }

  .work_image {
    height: 671px;
  }

  .nav-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }

  .navbar {
    padding-top: 0px;
    height: 100px;
  }

  .container-fluid {
    height: inherit;
    background-color: #2f3132;
  }
  .navbar-expand-lg .navbar-collapse {
    height: inherit;
    justify-content: center;
  }

  #navbarNav > ul > li:nth-child(2) {
    margin-top: 0px;
  }

  #navbarNav > ul > li:first-child {
    display: block;
  }

  .logo_start {
    display: none;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
  }

  .nav-item:first-child,
  .nav-item:last-child,
  .nav-item {
    margin: 0px;
  }

  .nav-item__filter {
    width: 1px;
    height: 30px;
    border-right: 1px solid #494949;
  }

  .logo_next_mobile {
    display: none;
  }

  .burger_words__mobile {
    display: none;
  }

  .burger_words__desktop {
    display: block !important;
  }

  #logo_next_desktop {
    width: 150px;
    margin-right: 147px;
  }

  .navbar-nav {
    max-width: 1357px;
  }

  .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
  }

  /*bluetooth*/
  .header_bluetooh {
    margin-top: 80px;
    margin-bottom: 35px;
  }

  .bluetooh_text {
    padding: 35px 259px 0px 259px;
  }
  .bluetooh_70days__desktop {
    display: block;
  }

  .bluetooh_70days,
  .bluetooh_img {
    display: none;
  }
  .desktop_70 {
    font-style: normal;
    font-weight: 900;
    font-size: 300px;
    line-height: 352px;
    text-align: center;
    text-transform: uppercase;
    color: #c4c4c4;
  }

  .desktop_days {
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
    text-transform: uppercase;
    color: #c4c4c4;
  }

  .bluetooh_70days__desktop_img1 {
    height: 286px;
  }
  .bluetooh_70days__desktop_img2 {
    height: 307px;
  }

  .bluetooh_70days__desktop,
  .bluetooh_70days__desktop_img {
    display: flex;
    gap: 90px;
  }

  .bluetooh_70days__desktop {
    position: relative;
    margin-top: 133px;
    margin-bottom: 48px;
  }

  .desktop_70,
  .desktop_days {
    position: absolute;
  }

  .desktop_70 {
    left: 32%;
    top: -38%;
  }

  .desktop_days {
    top: 60px;
  }

  /*anything*/
  .anything_text {
    padding: 35px 257px 50px 257px;
  }

  .anything_content__item {
    width: 236px;
  }

  .slide_heading {
    margin-top: 39px;
    margin-bottom: 15px;
  }

  .slider_text {
    margin: 30px 257px 70px 257px;
  }

  /*multiplau*/
  .tab_heading {
    flex-direction: row;
    text-align: center;
  }

  .multiple_text {
    margin: 35px 170px 70px 170px;
  }

  .multiple_list__number li:nth-child(2) {
    width: 310px;
    margin-left: 60px;
  }

  .multiple_img {
    height: 665px;
    background-image: url(image/tablet_horizontal/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  }
  */

/*settings*/
.settings_text {
    margin: 38px 151px 74px 151px;
  }

  #carouselSettings {
    display: none;
  }

  .settings_all__img {
    display: block;
    height: 698px;
  }

  .settings_optimisetion {
    width: 749px;
    padding-bottom: 29px;
    margin-bottom: 70px;
  }

  .settings_optimisetion {
    padding: 38px 63px 29px 63px;
  }

  /*comfortSpeed*/

  .comfort_img,
  .speed_img {
    height: 557px;
  }

  .comfortSpeed {
    padding-top: 0px;
  }

  .comfortSpeed_content_nontainer {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .comfort_img {
    height: 557px;
    background-image: url(image/tablet_horizontal/image\ 1.jpg);
    grid-area: 1/1/1/1;
    background-position: right bottom;
  }

  .comfort_heading {
    width: 281px;
    margin-bottom: 28px;
  }

  .comfort_text_container {
    text-align: left;
    padding: 121px 37px 121px 37px;
  }

  .speed_text_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 162px 31px 161px 31px;
  }

  .speed_text {
    text-align: right;
    width: 400px;
    margin: 0px;
    margin-top: 34px;
  }

  .speed_heading {
    margin-top: 0px;
  }

  .comfort_text {
    text-align: left;
    width: 400px;
  }

  .speed_img {
    height: 557px;
    background-image: url(image/tablet_horizontal/image\ 2.jpg);
    background-position: left top;
  }

  .comfortSpeed .tab_heading {
    flex-direction: column;
  }

  .tab_heading p {
    text-align: left;
  }

  .speed_heading p {
    text-align: right;
  }

  .comfort_text {
    margin: 0px;
  }
}

@media (min-width: 1920px) {
  .multiple_img {
    height: 970px;
    background-image: url(image/desktop/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  }

  #carouselExampleIndicators {
    width: 1280px;
  }

  .bluetooh_text {
    padding: 35px 580px 0px 580px;
  }

  .anything_text {
    padding: 35px 578px 50px 578px;
  }

  .multiple_text {
    margin: 35px 484px 70px 484px;
  }

  .settings_text {
    margin: 30px 480px 54px 480px;
  }

  .slider_anything_desktop {
  display: block !important;
}

.slider_anything_mobile {
	display: none !important;
}
}
