/********common********/
body {
  font-family: Roboto;
}

main {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
}

p {
  margin-bottom: 0px;
}

footer {
  height: 75px;
  background-color: #2f3132;
}

footer p {
  padding-top: 37px;
  padding-bottom: 22px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  color: #c7c8c8;
}

.containerCenter {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.heading {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

/********work********/
.section_work {
  background-color: #e0e1e2;
}

/*burgerMenu*/
.logo {
  padding-top: 25px;
  margin-bottom: 93px;
  padding-bottom: 0px;
  width: 100%;
}

.logo_start img,
.logo_next img {
  width: 130px;
}

.navbar .navbar-toggler {
  position: absolute;
  top: 25px;
  right: 28px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  color: inherit;
  border-color: inherit;
}

.navbar-toggler {
  background-color: transparent;
  border: transparent;
}

.navbar .container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(image/menu-burger.svg);
}

.navbar-collapse {
  background-color: #2f3132;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 32px;
}

.nav-item:first-child {
  margin-top: 148px;
}

.nav-item:last-child {
  margin-bottom: 208px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #c4c4c4;
}

.disable {
  display: none;
}

.backColor {
  background-color: #2f3132;
  transition: 0.2s;
}

#x {
  margin-top: 14px;
  margin-right: -20px;
}

/*/burgerMenu*/
.work_image {
  height: 230px;
  width: 100%;
  background-image: url(image/MX-Master\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}

.workContainer_text {
  margin: 67px 59px 40px 59px;
}

.work_text {
  text-align: center;
}

.arrow svg {
  height: 20px;
  text-align: center;
  margin-bottom: 48px;
}

/********bluetooth********/

.section_bluetooth {
  background-color: #ededed;
  text-align: center;
  margin-bottom: 18px;
}

.header_bluetooh {
  margin-top: 42px;
  margin-bottom: 27px;
}

.bluetooh_text {
  padding: 20px 33px 31px 33px;
}

.bluetooh_img {
  height: 218px;
  width: 100%;
  background-image: url(image/High_Resolution_PNG-MX\ Master\ 3\ LEFT\ GRAPHITE\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bluetooh_70days {
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #c4c4c4;
}

/********multiple********/
.multiple {
  background-color: #ededed;
  padding-top: 70px;
}

.multiple_img {
  height: 218px;
  width: 100%;
  background-image: url(image/mobile/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.multiple_heading {
  margin-left: 28px;
  margin-right: 28px;
  text-align: center;
}

.multiple_text {
  margin: 20px 33px 36px 33px;
  text-align: center;
}

.multiple_list {
  width: 100%;
}

.multiple_list__number {
  margin-left: 54px;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.multiple_list__number li {
  padding-bottom: 16px;
  width: 224px;
}

.multiple_list__number li:last-child {
  padding-bottom: 0px;
}

/*comfort*/
.comfortSpeed {
  padding-top: 70px;
  text-align: center;
}

.comfort_heading {
  margin-left: 34px;
  margin-right: 34px;
  margin-bottom: 20px;
}

.comfort_text {
  margin-left: 34px;
  margin-right: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.comfort_img {
  height: 310px;
  background-image: url(image/image\ 1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.speed_heading {
  margin: 70px 34px 20px 34px;
}

.speed_text {
  margin: 0px 33px 20px 33px;
}

.speed_img {
  height: 310px;
  background-image: url(image/image\ 2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/********anything********/

.section_anything {
  padding-top: 70px;
}

.anything_text {
  padding: 20px 67px 30px 67px;
  text-align: center;
}

.anything_content {
  margin-bottom: 27px;
  text-align: center;
  display: flex;
  gap: 6px;
}

.anything_content__item {
  border: 1px solid black;
  width: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}

.slide_heading {
  margin-top: 27px;
  margin-bottom: 20px;
}

.slider_text {
  text-align: center;
  margin: 19px 34px 63px 34px;
}
/*Slider_1*/

#carouselExampleIndicators {
  width: 100%;
}

.carousel-indicators {
  bottom: -63px;
  margin-bottom: 0px;
  height: 30px;
  position: static;
}

#carouselExampleIndicators > div.carousel-indicators button {
  text-indent: 0;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  height: 100%;
  background-color: inherit;
  margin-left: 22px;
  border: 0px;
}

#carouselExampleIndicators > div.carousel-indicators button:first-child {
  margin-left: 0px;
}

.carousel-control-prev {
  bottom: inherit;
}

#carouselExampleIndicators > div.carousel-indicators .carousel-control-prev {
  height: inherit;
  position: relative;
}

.carousel-control-prev-icon {
  background-image: url(image/anythingSlider/button/arrow-left.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#carouselExampleIndicators > div.carousel-indicators .carousel-control-next {
  height: inherit;
  position: relative;
}

.carousel-control-next-icon {
  background-image: url(image/anythingSlider/button/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/********settings********/

#carouselSettings {
  width: 100%;
  margin-bottom: 70px;
}

.section_settings {
  background-color: #ededed;
  padding-top: 60px;
}

.settings_text {
  margin: 20px 33px 35px 33px;
  text-align: center;
}

#carouselSettings #settings_button button {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #c4c4c4;
  margin-left: 15px;
}

#carouselSettings img {
  height: 404px;
  object-fit: contain;
}

#carouselSettings #settings_button button.active {
  background-color: #2f3132;
}

.settings_optimisetion {
  padding: 23px 22px 26px 22px;
  text-align: center;
  color: #ffffff;
  background-color: #c4c4c4;
}

.optimisetion_items {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
}

.optimisition_text {
  margin-left: 12px;
  margin-right: 12px;
}

/**************************Планшет*********************************/

@media (min-width: 768px) {
  /*work*/
  .logo_start img,
  .logo_next img {
    width: 240px;
  }

  .logo {
    padding-top: 54px;
    margin-bottom: 159px;
  }

  .work_image {
    height: 514px;
  }

  .workContainer_text {
    margin: 124px 155px 76px 155px;
  }

  .arrow svg {
    height: 29px;
  }

  .arrow {
    margin-bottom: 80px;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .heading {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
  }

  .nav-item {
    font-size: 40px;
    line-height: 47px;
  }
  /*bluetooth*/
  .header_bluetooh {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .bluetooh_text {
    padding: 30px 77px 67px 77px;
  }

  .bluetooh_70days {
    font-size: 150px;
    line-height: 176px;
  }

  .bluetooh_img {
    height: 498px;
  }

  .section_bluetooth {
    margin-bottom: 0px;
  }

  /*anything*/
  .anything_text {
    padding: 30px 77px 50px 77px;
  }

  .anything_content {
    margin-bottom: 50px;
    gap: 30px;
  }

  .anything_content__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #carouselExampleIndicators > div.carousel-indicators button {
    margin-left: 30px;
  }

  .slider_text {
    margin: 22px 77px 61px 77px;
  }

  /*multiple*/
  .multiple_heading {
    margin-left: 129px;
    margin-right: 129px;
    text-align: center;
  }

  .multiple_text {
    margin: 30px 65px 70px 65px;
  }

  .multiple_img {
    height: 460px;
    background-image: url(image/tablet/High_Resolution_JPG-MX\ Lifestyle\ 2346\ 1.png);
  }

  .multiple_list__number {
    display: flex;
	 justify-content: center;
    margin-left: 67px;
    margin-right: 67px;
    font-size: 20px;
    line-height: 23px;
  }

  .multiple_list__number li {
  padding-bottom: 0px;
  margin-left: 67px;
  border-right: 1px solid black;
}

  .multiple_list__number li:first-child {
  width: 294px;
  margin-left: 0px;
}

  .multiple_list__number li:nth-child(2) {
  width: 280px;
  margin-left: 28px;
}

  .multiple_list__number li:last-child {
  width: 135px;
  margin-left: 22px;
  border-right: none;
}
}
